:root{
--blue-1: #f2f7fd;
--blue-2: #e6effc;
--blue-3: #cfe1f9;
--blue-4: #a1c3f3;
--blue-5: #a0c3f3;
--blue-6: #89b3f0;
--blue-7: #71a4ed;
--blue-8: #5995ea;
--blue-9: #4287e7;
--blue-10: #4297e4;
--blue-11: #1368e2;
--blue-12: #115ecb;
--blue-13: #0f54b4;
--blue-14: #0d499d;
--blue-15: #0b3f87;
--blue-16: #072a5a;
--blue-17: #03152d;
--blue-lighter: #1369e210;
--blue-light: #1369e220;
--blue-focus: #1369e230;


--newblue-1: #EAF1FC;
--newblue-2: #D4E4FA;
--newblue-3: #BFD6F7;
--newblue-4: #A9C8F4;
--newblue-5: #94BAF2;
--newblue-6: #7EADEF;
--newblue-7: #699FED;
--newblue-8: #5391EA;
--newblue-9: #3E83E7;
--newblue-10: #2876E5;
--newblue-11: #1368e2;
--newblue-12: #1059C2;
--newblue-13: #0E4AA1;
--newblue-14: #0B3B81;
--newblue-15: #082D61;
--newblue-16: #051E41;
--newblue-17: #030F20;
--newblue-lighter: #1369e210;
--newblue-light: #1369e220;
--newblue-focus: #1369e230;

--gray-1: #F5F5F5;
--gray-2: #ECECEC;
--gray-3: #E2E2E2;
--gray-4: #D8D8D8;
--gray-5: #CECECE;
--gray-6: #C5C5C5;
--gray-7: #BBBBBB;       
--gray-8: #B1B1B1;
--gray-9: #A7A7A7;
--gray-10: #9E9E9E;
--gray-11: #949494;
--gray-12: #848484;
--gray-13: #737373;
--gray-14: #636363;
--gray-15: #525252;
--gray-16: #424242;
--gray-17: #313131;
--gray-18: #212121;
--gray-19: #101010;
--gray-20: #010101;

--bluegray-1: #F0F1F4;
--bluegray-2: #E1E4E9;
--bluegray-3: #D3D6DD;
--bluegray-4: #C4C8D2;
--bluegray-5: #B5BBC7;
--bluegray-6: #A6ADBC;
--bluegray-7: #97A0B1;       
--bluegray-8: #8892A6;
--bluegray-9: #7A849A;
--bluegray-10: #6B778F;
--bluegray-11: #5C6984;
--bluegray-12: #4F5A71;
--bluegray-13: #424B5E;
--bluegray-14: #353C4B;
--bluegray-15: #272D39;
--bluegray-16: #1A1E26;
--bluegray-17: #0D0F13;



--white-1: rgba(255, 255, 255, 0.02);
--white-2: rgba(255, 255, 255, 0.04);
--white-3: rgba(255, 255, 255, 0.06);
--white-4: rgba(255, 255, 255, 0.09);
--white-5: rgba(255, 255, 255, 0.12);
--white-6: rgba(255, 255, 255, 0.16);
--white-7: rgba(255, 255, 255, 0.2);
--white-8: rgba(255, 255, 255, 0.25);
--white-9: rgba(255, 255, 255, 0.3);
--white-10: rgba(255, 255, 255, 0.4);
--white-12: rgba(255, 255, 255, 0.5);
--white-13: rgba(255, 255, 255, 0.6);
--white-14: rgba(255, 255, 255, 0.7);
--white-15: rgba(255, 255, 255, 0.8);
--white-16: rgba(255, 255, 255, 0.9);
--white-17: rgba(255, 255, 255, 1);


--black-1: rgba(0, 0, 0, 0.02);
--black-2: rgba(0, 0, 0, 0.04);
--black-3: rgba(0, 0, 0, 0.06);
--black-4: rgba(0, 0, 0, 0.09);
--black-5: rgba(0, 0, 0, 0.12);
--black-6: rgba(0, 0, 0, 0.16);
--black-7: rgba(0, 0, 0, 0.2);
--black-8: rgba(0, 0, 0, 0.25);
--black-9: rgba(0, 0, 0, 0.3);
--black-10: rgba(0, 0, 0, 0.4);
--black-12: rgba(0, 0, 0, 0.5);
--black-13: rgba(0, 0, 0, 0.6);
--black-14: rgba(0, 0, 0, 0.7);
--black-15: rgba(0, 0, 0, 0.8);
--black-16: rgba(0, 0, 0, 0.9);
--black-17: rgba(0, 0, 0, 0.98);

}